<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Konectia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    <h1>Campus Konectia</h1>

    {% block content %}
    
    {% endblock %}
        <button id="prev">Anterior</button>
        <button id="next">Siguiente</button>
    </div>
    
    <div id="pokemons" class="pokemon-container"></div>

    <div class="maps-container">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d534.8919601072316!2d-3.8050045595686983!3d43.39263057525651!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4935c7ee4f09b9%3A0xf826845dcbe857ab!2sdeportesinriesgo!5e1!3m2!1ses!2ses!4v1771410742476!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <script src="{{ url_for('static', filename='Pokeapi.js') }}"></script>
</body>
</html>